<!DOCTYPE html>
<html>
<head>
    <title>Reddit Sentiment Analysis</title>
</head>
<body>
    <div class="navbar">
        <h1>Reddit Sentiment Analysis Web App</h1>
    </div>
    <div class="container">
        <div class="main">
            <h1>Welcome!</h1>
            <p>This web application analyzes sentiments on Reddit about presidential candidates for the year 2024.</p>

            <form method="POST">
                <label for="candidates">Select Candidate(s):</label>
                <select name="candidate" id="candidates" multiple>
                    {% for candidate in candidates %}
                        <option value="{{ candidate }}">{{ candidate }}</option>
                    {% endfor %}
                </select>
                <br><br>

                <input type="submit" value="Submit">
            </form>            

            <!-- Additional content can go here -->
        </div>
    </div>
</body>
</html>
