<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizations for {{ candidate }}</title>
</head>
<body>
    <h1>Visualizations for {{ candidate }}</h1>

    <!-- Displaying Histogram of Score -->
    <div>
        <h2>{{ visualization_name_mapping['hist_score'] }}</h2>
        <img src="{{ url_for('static', filename=file_paths['hist_score']) }}" alt="Histogram of Score">
    </div>

    <!-- Displaying Histogram of Subjectivity Score -->
    <div>
        <h2>{{ visualization_name_mapping['hist_subj_score'] }}</h2>
        <img src="{{ url_for('static', filename=file_paths['hist_sub_score']) }}" alt="Histogram of Subjectivity Score">
    </div>

    <!-- Displaying Histogram of Sentiment Score -->
    <div>
        <h2>{{ visualization_name_mapping['hist_sent_score'] }}</h2>
        <img src="{{ url_for('static', filename=file_paths['hist_sent_score']) }}" alt="Histogram of Sentiment Score">
    </div>

    <!-- Displaying Boxplot of Score and Subreddit -->
    <div>
        <h2>{{ visualization_name_mapping['box_subr_score'] }}</h2>
        <img src="{{ url_for('static', filename=file_paths['box_subr_score']) }}" alt="Boxplot of Score and Subreddit">
    </div>
</body>
</html>
